<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css"><!-- index.ejs should look for styles in view folder but since we have declared styles in public so if we dont give path it will automatically refer to styles in public folder -->
    </head>
    <body>
        <!--locals is name of object passed in render()-->
        <h1>hi <%=locals.name %> THis form store data in db</h1>
        <p>how are you <%=name %> </p>
        
        <form method="post" action="/contact">

        <input type="text" name="name" placeholder="enter name">
        <input type="text" name="email" placeholder="enter password">
        <button type="submit"> submit</button>
        </form>
        <script src="script.js"></script><!-- similarly it will find script file in public folder not its parent view folder-->
    </body>
</html>